<html>
<head>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">
    <meta name="viewport" content="width=device-width, initial-scale=0.95">
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" text="text/css">
</head>

<body style="margin-left:0; padding:10">

<div class="row">
    <a href="{{ url_for('.show_all') }}" class="btn btn-primary" role="button" style="margin-left: 15px">Main Menu</a>
    
    {% if is_mobile == "1" %}
        <a href="{{ url_for('.display', id = recipe.id, is_mobile = 0, multiplier = multiplier) }}" class='btn btn-primary' role='button' style='margin-left: 15px'>Switch View</a>
    {% else %}
        <a href="{{ url_for('.display', id = recipe.id, is_mobile = 1, multiplier = multiplier) }}" class='btn btn-primary' role='button' style='margin-left: 15px'>Switch View</a>
    {% endif %}
    <a href="{{ url_for('.edit', id = recipe.id) }}" class='btn btn-primary' role='button' style='margin-left: 15px'>Edit Recipe</a>
<!--    <a href='/edit?id={{ recipe.id }}' class='btn btn-primary' role='button' style='margin-left: 15px'>Edit Recipe</a>
-->
</div>

<div class="row">
    <div class="col">
    
        <h1>{{ recipe.name }}</h1>
        <h5>{{ recipe.description }}</h5><br>
        
        <div class='row'>
            {% for c in recipe.compliances %}
                <h4><span class='label label-primary' style='background-color: #777; border-radius: .25em; padding: .2em .6em .3em; margin-left:15px'>{{ c.compliance.name }}</span></h4>
            {% endfor %}
        </div><br>

        <form method="post" action="">
            <input type="text" name="multiplier" size="10" value="{{ multiplier }}" required>
            <button type="submit" name="btn" value="Multiply" class="btn btn-primary">Multiply</button>
            <button type="submit" name="btn" value="List" class="btn btn-primary">Add to List</button>
        </form>
        
        <h5>Serves {{ recipe.servings }}</h5>
        <h5>Prep Time {{ recipe.prep_time }} </h5>
        <h5>Cook Time {{ recipe.cook_time }} </h5>
        <h5>Total Time {{ recipe.total_time }} </h5>
        
    </div>
</div>


{% if is_mobile == "1" %}
<div class="row">
    <div class="col"><br>
        <ul style='list-style-type: none; padding-left: 0'>
            {% for i in recipe.ingredients %}
                <li>{{ i.getString() }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="row">
    <div class="col"><br>
        <ol style='padding-left: 15px'>
            {% for i in recipe.instructions %}
                <li>{{ i.instruction }}</li>
            {% endfor %}
        </ol>    
    </div>    
</div>
{% else %}
<div class="row">
    <div class="col-3"><br>
        <ul style='list-style-type: none; padding-left: 0'>
            {% for i in recipe.ingredients %}
                <li>{{ i.getString() }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-8"><br>
        <ol style='padding-left: 15px'>
            {% for i in recipe.instructions %}
                <li>{{ i.instruction }}</li>
            {% endfor %}
        </ol>    
    </div>    
</div>
{% endif %}

<div class="row">
    <div class="col"><br>
        <table class='table table-hover' style='table-layout: auto;'>
        <tr><th>Date</th><th>Notes</th></tr>
            {% for log in recipe.logs %}
                <tr><td style="white-space: nowrap;">{{ log.cook_date }}</td><td>{{ log.notes }}</td></tr>
            {% endfor %}
        </table>
    </div>
</div>



<br>
<h3>Log Entry</h3>

<form method="post" action="">
    <input type="text" name="date" size="12" placeholder="YYYY-MM-DD" value="{{ todaysDate() }}" pattern="\d{4}-\d{2}-\d{2}" required><br>
    <textarea cols="80" placeholder="Enter a note about your experience." rows="3" name="notes" maxlength="350"></textarea><br><br>
    <button type="submit" name="btn" value="Log" class="btn btn-primary">Put it in the books!</button>
</form>

</body>
</html>
