<html>
<head>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">
    <meta name="viewport" content="width=device-width, initial-scale=0.95">
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" text="text/css">
</head>

<body style="margin-left:0; padding:10">

<div class="row">
    <a href="/list" class="btn btn-primary" role="button" style="margin-left: 15px">Shopping List</a>
</div><br>
    
<h3>Filters</h3><br>
<form method="post" action="">
    
	<input type="checkbox" name="hot_cold_hot" {{ filters['hot_cold_hot'] }} /> <span>Hot</span>
	<input type="checkbox" name="hot_cold_cold" {{ filters['hot_cold_cold'] }} /> <span>Cold</span><br><br>

	<input type="checkbox" name="meal_type_breakfast" {{ filters['meal_type_breakfast'] }} /> <span>Breakfast</span>
	<input type="checkbox" name="meal_type_lunch"     {{ filters['meal_type_lunch'] }} /> <span>Lunch</span>
	<input type="checkbox" name="meal_type_dinner"    {{ filters['meal_type_dinner'] }} /> <span>Dinner</span>
	<input type="checkbox" name="meal_type_dessert"   {{ filters['meal_type_dessert'] }} /> <span>Dessert</span><br><br>
	
    <input type="text" name="ingredients" placeholder="Ingredients" size="80"><br>
    
    <button type="submit" name="submit" class="btn btn-primary" role="button">Apply Filters</button>
</form>

<br>

<h3>Recipes</h3>
    
<a target="_blank" href="{{ url_for('.add') }}">Add Recipe</a><br>

<div>
    
</div>

<div id="recipeTable">
    <table>
        <tr><td> </td><td>Prep Time</td><td>Cook Time</td><td>Calories</td></tr>
        {% for recipe in recipes %}
            <tr>
            <td><a href="{{ url_for('.display', id = recipe.id, is_mobile = 1, multiplier = 1.0) }}">{{ recipe.name }}</a></td>
            <td>{{ recipe.prep_time }}</td>
            <td>{{ recipe.cook_time }}</td>
            <td>{{ recipe.calories }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

</body>
</html> 
