<html>
<head>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">
    <meta name="viewport" content="width=device-width, initial-scale=0.95">
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" text="text/css">
</head>

<body style="margin-left:0; padding:10">

<div class="row">
    <a href="/" class="btn btn-primary" role="button" style="margin-left: 15px">Main Menu</a>
</div><br>


<h3>Shopping List</h3><br>
<div class="row">
    
    <ul style='list-style-type: none; padding-left: 10'>
        {% for ingredient in ingredients %}
            <li>{{ ingredient.getString() }}</li>
        {% endfor %}
    </ul>
    
</div>

<div class="row">
    <form method="post" action="">
        <button type="submit" name="btn" value="Clear" class="btn btn-danger" style="margin-left: 15px">Clear List</button>
    </form>
</div><br>

<h4>Derived from</h4><br>
<div class="row">
    
    <table class='table table-hover' style='table-layout: auto;'>
    <tr><th>Multiplier</th><th>Recipe</th></tr>
        {% for item in shoppingRecipes['recipes'] %}
            <tr><td>{{ item.multiplier }}</td><td>{{ item.recipe_name }}</td></tr>
        {% endfor %}
    </table>
    
</div><br>

</body>
</html>
